.news-container {

    position: relative;
    height: 75%;
    width: 100%;

    padding: 0px;
    margin-top: 0px;
    border: 1px solid #005EB8;
    background-color: #005EB8;
}

.news {
    height: 100px;
    border: 1px solid black;
}
